@model AgenciaViajes.Models.Destino

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Detalles del Destino";
}

<section class="py-5 text-center" style="background-color: #040E27;">
    <div class="container-fluid py-lg-3">
        <h1 class="fw-bold text-white">Detalles del Destino</h1>
    </div>
</section>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="card shadow">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Nombre)</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.Nombre)</dd>
                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Pais)</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.Pais)</dd>
                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ZonaGeografica)</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.ZonaGeografica)</dd>
                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Descripcion)</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.Descripcion)</dd>
                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ImagenUrl)</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.ImagenUrl)</dd>
                </dl>
                <a asp-action="Edit" asp-route-id="@Model?.DestinoId" class="btn btn-secondary">Editar</a>
                <a asp-action="Index" class="btn btn-outline-secondary">Volver a la lista</a>
            </div>
        </div>
    </div>
</div>