@model IEnumerable<AgenciaViajes.Models.Destino>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Gestión de Destinos";
}

<section class="py-5 text-center" style="background-color: #040E27;">
    <div class="container-fluid py-lg-3">
        <h1 class="fw-bold text-white">Gestión de Destinos</h1>
        <p>
            <a asp-action="Create" class="btn btn-danger my-2">Crear Nuevo</a>
        </p>
    </div>
</section>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                            <th>@Html.DisplayNameFor(model => model.Pais)</th>
                            <th>@Html.DisplayNameFor(model => model.ZonaGeografica)</th>
                            <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                            <th>@Html.DisplayNameFor(model => model.ImagenUrl)</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                <td>@Html.DisplayFor(modelItem => item.Pais)</td>
                                <td>@Html.DisplayFor(modelItem => item.ZonaGeografica)</td>
                                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                                <td>@Html.DisplayFor(modelItem => item.ImagenUrl)</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.DestinoId" class="btn btn-outline-secondary btn-sm">Editar</a>
                                    <a asp-action="Details" asp-route-id="@item.DestinoId" class="btn btn-outline-secondary btn-sm">Detalles</a>
                                    <a asp-action="Delete" asp-route-id="@item.DestinoId" class="btn btn-outline-danger btn-sm">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>