@model AgenciaViajes.Models.DestinoActividadViewModel


@{
    ViewData["Title"] = "Detalle";
}

<!-- Encabezado -->
<section class="py-5 text-center" style="background-image: url('@Model.Destino.ImagenUrl');background-size: cover;background-repeat: no-repeat;height: 400px;">
    <div class="container-fluid py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-bold text-white">@Model.Destino.Nombre</h1>
            <p class="lead text-white fw-bold">@Model.Destino.Descripcion</p>
            <p>
                <a href="#" class="btn btn-danger my-2">Conocer más</a>
            </p>
        </div>
    </div>
</section>

<!-- Contenido de la pagina de destinos -->
<div class="container pb-2">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-9">
            <div class="mt-5">
                <h3 class="font-monospace">Descripción</h3>
                <p>País: <b>@Model.Destino.Pais</b></p>
                <p>Zona Geografica: <b>@Model.Destino.ZonaGeografica</b></p>
                <p>@Model.Destino.Descripcion</p>

                <h3 class="font-monospace">Actividades</h3>
               
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Duración</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Actividades != null && Model.Actividades.Any())
                        {
                            @foreach (var actividad in Model.Actividades)
                            {
                                <tr>
                                    <th>@actividad.Nombre</th>
                                    <td>@actividad.Descripcion</td>
                                    <td>$@actividad.Precio</td>
                                    <td>@actividad.Duracion</td>
                                </tr>
                            }
                           
                        }
                        else
                        {
                            <tr colspan="4">
                                <th>No hay actividades disponibles.</th>
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>

            <!--hr>
            <div class="text-center mt-5 mb-5">
                <h1 class="font-monospace">Contáctanos</h1>
            </div>
            <form-- action="#">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control form-control-lg mb-3" placeholder="Nombre Completo" />
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control form-control-lg mb-3" placeholder="Teléfono" />
                    </div>
                    <div class="col-lg-12">
                        <textarea name="" id="" cols="30" rows="10" class="form-control form-control-lg mb-3" placeholder="Mensaje"></textarea>
                    </div>
                    <div class="col-lg-12">
                        <button class="btn btn-lg btn-danger" type="submit" style="width: 100%;">Enviar</button>
                    </div>
                </div>
            </form-->

        </div>
    </div>
</div>

<!-- Destinos Relacioandos -->
<main>

    <div class="py-5 mt-1" style="background: #ffffff !important">
        <div class="container">

            <div class="text-center mt-5 mb-5">
                <h1 class="font-monospace">Destinos Relacionados</h1>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                
                @if (Model.destinosRandom != null && Model.destinosRandom.Any())
                {
                    @foreach (var destindom in Model.destinosRandom)
                    {
                        <div class="col">
                            <a asp-controller="Home" asp-action="Privacy" asp-route-id="@destindom.DestinoId" style="text-decoration: none !important;">
                                <div class="card">
                                    <img src="@Html.DisplayFor(modelItem => destindom.ImagenUrl)" class="card-img-top" alt="Imagen 1">
                                    <div class="card-body">
                                        <h5 class="card-title fw-semibold">@Html.DisplayFor(modelItem => destindom.Nombre)</h5>
                                        <p class="card-text" style="color: #9a9999;">
                                            @Html.DisplayFor(modelItem => destindom.Descripcion)
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }

                }
                else
                {
                    //no mostrar nada porque no hay destinos
                }
                
            </div>

        </div>
    </div>

</main>
